.featured {
  height: 100vh;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    position: absolute;
    width: 35%;
    top: 35vh;
    left: 150px;
    color: white;
    display: flex;
    flex-direction: column;

    img {
      width: 400px;
    }

    .desc {
      width: 400px;
      margin: 20px 0;
      padding: 10px;
      font-size: 17px;
      color: white;
      font-weight: 400;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }

    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        margin-right: 10px;

        &.play {
          background-color: white;
          color: var(--main-color);
        }

        &.more {
          background-color: gray;
          color: white;
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }
}
